* {
    font-family: sans-serif;
}

.navbar {
    background-color: peachpuff;
padding: 10px;
}

.nav-item .nav-link {
    font-weight: bold;
    color: black;
}

#home {
    background-image: url(https://wallpapercave.com/wp/wp2036914.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: white;

}
.hhead{
    color: black;
    text-shadow: 2px 3px 7px white;}

/* Book card image styling */
.book-card img {
    height: 220px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.book-card:hover img {
    transform: scale(1.2)
}
.image{
    margin-top: 10%;
}
.color{
    background-color: peachpuff;
    color: black;
}
.colors{
    color: brown;
}
.ccolor{
    /* border: none; */
    border-top: 2px solid black;
    /* opacity: 1; */
}
.page{
    margin-top: 5%;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    color: peru;
}